/package/RA2MD.ini
/package/Maps/Custom/*.zip
/package/Maps/Custom/*.map
/package/Maps/Custom/*.png
/package/Maps/Custom/*.yrm
/package/VersionWriter.exe
/package/version
/package/Qt/QM/
/package/VersionWriter.exe
/package/VersionWriter-CopiedFiles
/logs
/gitversion.json
ddraw.dll
ddraw.ini
RA2MD.ini
spawn.ini
spawnmap.ini
version_u
/package/Client/
.idea
.idea/*
/tools/node_modules
/CnCNet5_YR_Installer.exe
/package.tar.gz
/Client/
