/package/RA2MD.ini
/package/Maps/Custom/*.zip
/package/Maps/Custom/*.map
/package/Maps/Custom/*.png
/package/Maps/Custom/*.yrm
/package/VersionWriter.exe
/package/version
/package/Qt/QM/

/logs
/gitversion.json
/logs
