version text eol=crlf
*.xdp text eol=crlf
*.cfg text eol=crlf
*.ini text eol=crlf
*.map text eol=crlf
*.txt text eol=crlf
preupdateexec text eol=crlf
updateexec text eol=crlf
version text eol=crlf

*.sh text eol=lf
