/game-assets/**/*.mix

/package/**/*.SAV
/package/BINKW32.DLL
/package/Blowfish.dll
/package/Client/
/package/ddraw.dll
/package/ddraw.ini
/package/debug/
/package/langmd.mix
/package/language.mix
/package/Map Editor/**
/package/Maps/Custom/*.map
/package/Maps/Custom/*.png
/package/Maps/Custom/*.yrm
/package/Maps/Custom/*.zip
/package/maps01.mix
/package/maps02.mix
/package/mapsmd03.mix
/package/movies01.mix
/package/movies02.mix
/package/movmd03.mix
/package/multi.mix
/package/multimd.mix
/package/QM/*.txt
/package/Qt/QM/
/package/ra2.mix
/package/RA2MD.ini
/package/RA2MD.ini
/package/ra2md.mix
/package/Saved Games/*.SAV
/package/spawn.ini
/package/spawnmap.ini
/package/syringe.log
/package/theme.mix
/package/thememd.mix
/package/version
/package/version_u
/package/VersionWriter-CopiedFiles
/package/VersionWriter.exe

.idea/*
/CnCNet5_YR_Installer.exe
/gitversion.json
/logs
/package.tar.gz
/tools/node_modules
