<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CNCMaps.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <CNCMaps.GUI.Properties.Settings>
      <setting name="input" serializeAs="String">
        <value />
      </setting>
      <setting name="mixdir" serializeAs="String">
        <value />
      </setting>
      <setting name="output" serializeAs="String">
        <value />
      </setting>
      <setting name="outputjpgq" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="outputpngq" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="customfilename" serializeAs="String">
        <value />
      </setting>
      <setting name="engineauto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="enginets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enginefs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="enginera2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="engineyr" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="modconfig" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="modconfigfile" serializeAs="String">
        <value />
      </setting>
      <setting name="emphore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autosize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="localsize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fullsize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="injectthumb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hwvoxels" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="swvoxels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="renderprog" serializeAs="String">
        <value />
      </setting>
      <setting name="outputauto" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="outputcustom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="outputthumb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="thumbdimensions" serializeAs="String">
        <value>800,0</value>
      </setting>
      <setting name="thumbpreserveaspect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="markers" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="outputjpg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="outputpng" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="fixuptiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="usefilename" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="thumbpng" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="icegrowth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="diagwindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="skipupdatecheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="backup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="fixoverlays" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="compresstiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tunnelpaths" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tunnelpos" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="windowlocation" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="startmarker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="startmarkertype" serializeAs="String">
        <value>Diamond</value>
      </setting>
      <setting name="startmarkersize" serializeAs="String">
        <value>4</value>
      </setting>
    </CNCMaps.GUI.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
