name: build-and-deploy

on:
  # Run on push to any branches listed
  # Any new features that should be auto built and deployed should be in a branch under "feature/"
  # example: feature/net7 or feature/quakenet
  push:
    branches:
      - develop
      - feature/*

  # Run when there is a release published
  release:
    types: [ published ]
  
  # Allows for this workflow to be ru manually
  workflow_dispatch:

jobs:
  # This job is responsible for building the package that will be deployed to the server.
  # It is run in a windows container so that Version.exe and other Windows based tools are able to be executed.
  build-package:
    runs-on: windows-latest
    environment: cncnet
    outputs:
      # This the fully qualified version string that is used for deploy purposes.
      packageUploadVersion: ${{ env.GitVersion_MajorMinorPatch }}${{ env.GitVersion_PreReleaseLabelWithDash }}

    steps:
      # Checkout the repo
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # required for gitversion

      - name: Install Tools NPM Libs
        working-directory: tools
        run: npm install

      # This step checks to see if this run was a result of a published release.
      # If it was, then we need to validate the format of the tag used for the release.
      # Currently, it must be in the format "yr-X.Y" or "yr-X.Y.Z" 
      - name: Check for release
        working-directory: tools
        run: |
          npm run release-tag-validator

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.15
        with:
          versionSpec: '5.x'

      # Run Gitversion - https://gitversion.net/docs/
      - name: Run GitVersion
        uses: gittools/actions/gitversion/execute@v0.9.15

      # Update versionconfig.ini with gitversion version info
      - name: Update versionconfig.ini
        # replace the second line in the file with the proper version number (X.Y.Z-dev.N)
        run: sed -i "2 s/.*/${{env.GitVersion_SemVer}}/" ./package/versionconfig.ini

      - name: Version Writer
        working-directory: tools
        run: npm run version-writer

      - name: Build Installer
        working-directory: tools
        run: npm run build-installer

      # Create package archive
      - name: Create package artifact
        run: tar -C ./package -czvf package.tar.gz .

      # Upload package archive as artifact for next job
      - name: Upload Package Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: package
          path: ./package.tar.gz
          if-no-files-found: error

      # Upload package archive to any relevant releases for current tag
      # If there is no release/tag, this will not do anything
      - name: Upload Package Release Asset
        working-directory: tools
        run: npm run release-asset-uploader -- --token ${{ secrets.GITHUB_TOKEN }} --assetName package_${{env.GitVersion_SemVer}}.tar.gz --assetPath ../package.tar.gz

      # Upload installer as artifact for manual download
      - name: Upload Installer Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: installer
          path: ./CnCNet5_YR_Installer.exe
          if-no-files-found: error

      # Upload installer to any relevant releases for current tag
      # If there is no release/tag, this will not do anything
      - name: Upload Installer Release Asset
        working-directory: tools
        run: npm run release-asset-uploader -- --token ${{ secrets.GITHUB_TOKEN }} --assetName CnCNet5_YR_Installer_${{env.GitVersion_SemVer}}.exe --assetPath ./CnCNet5_YR_Installer.exe

  # This job downloads the package artifact from the previous job and deploys it to the server.
  deploy-package:
    # if previous job was successful
    if: ${{ success() }}
    runs-on: ubuntu-latest
    environment: cncnet
    needs: build-package

    steps:
      # Download the package artifact from previous job
      - name: Get artifact
        uses: actions/download-artifact@v3
        with:
          name: package

      # Deploy the package to the server
      - name: Deploy package
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          passphrase: ${{ secrets.SSH_PASS }}
          key: ${{ secrets.SSH_KEY2 }}
          port: ${{ secrets.SSH_PORT }}
          overwrite: true
          source: "package.tar.gz"
          target: "${{ secrets.SSH_PATH_UPDATES }}/${{ needs.build-package.outputs.packageUploadVersion }}/"

      # Extract the deployed package on the server
      - name: Extract the deployed package
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          passphrase: ${{ secrets.SSH_PASS }}
          key: ${{ secrets.SSH_KEY2 }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ secrets.SSH_PATH_UPDATES }}/${{ needs.build-package.outputs.packageUploadVersion }}
            tar -xzvf ${{ secrets.SSH_PATH_UPDATES }}/${{ needs.build-package.outputs.packageUploadVersion }}/package.tar.gz
            rm ${{ secrets.SSH_PATH_UPDATES }}/${{ needs.build-package.outputs.packageUploadVersion }}/package.tar.gz
            chmod 777 --recursive ${{ secrets.SSH_PATH_UPDATES }}/${{ needs.build-package.outputs.packageUploadVersion }}/*


